@import './app.css';

/* Reset Password */
.reset-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 340px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reset-box h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.reset-box p {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.3;
}

.reset-box input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.reset-box button {
  width: 100%;
}

.reset-box .small-text {
  margin-top: 10px;
  font-size: 0.8rem;
}

.reset-box .small-text a {
  color: #00a02b;
  text-decoration: none;
  font-weight: 600;
}

/* DASHBOARD PAGE STYLES */
main.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.dashboard h3 {
  margin-bottom: 15px;
  color: #333;
}

.quiz-table {
  width: 100%;
  margin: 10px;
  max-width: 800px;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.quiz-table th,
.quiz-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.quiz-table th {
  background-color: #ddd;
  font-weight: bold;
}

.quiz-table tr:nth-child(even) {
  background-color: #f3f3f3;
}

.menu-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Prevent content from shifting when sidebar is open */
body {
  overflow-x: hidden;
  position: relative;
}

/* quizpick */
.challenge-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.challenge-container h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
}

.competency-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.competency-btn {
  background-color: #3f2f87;
  color: #fff;
  border: none;
  padding: 14px 40px;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.competency-btn:hover {
  background-color: #352974;
  transform: translateY(-2px);
}

/* Bottom Bar */
.bottom-bar {
  background-color: #4b3fc2;
  height: 35px;
  width: 100%;
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f2f4ff;
  overflow-x: hidden;
}